{%extends "base.html"%}
{% load bootstrap5 %}
{% block nav %}  
{% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="card ">
    <div class="card-body">
       <div class="row d-flex justify-contend-center">
     
           <div class="col-md-10">
               <div class="pr">
                   <p>
                {% if user.profile %}
                    <a href="#" class="px-2"><img src="{{ user.profile.profile_photo.url }}" alt="User" class="me-1 rounded-circle" height="60px" width="60px"></a>
                {% else %}
                      <a href="#" class="px-2"><img src="https://res.cloudinary.com/dbzjjwjbm/image/upload/v1/media/images/20210710_203838_x9lpz3"  alt="User" class="me-1 rounded-circle" height="60px" width="60px"></a>
                {% endif %}

                    <!-- {{ user.get_full_name }} <br> -->
                    <a href="" class="px-5 mx-3" style="text-decoration: none;">Change Profile Photo</a>

                   </p>
            
                </div>
            <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
           </div>
       </div>
    </div>
</div>
{% endblock %}