{% extends "base.html" %} 
{% load bootstrap5 %}
{% block content %}
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card my-5 py-4" style="border-radius: 50px; background-color: rgb(157, 113, 199, 0.2);">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>
              {% for message in messages %}
              <div class="alert alert-danger">
                  <a class="close" href="#" data-dismiss="alert">×</a>
                     {{ message }}
              </div>
                {% endfor %}
              <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body" value="Sign up"></div>

                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/register" class="fw-bold text-body"><u>Sign up here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}