{% extends "base.html" %} 
{% load bootstrap5 %}
{% block content %}
  <div class="mask d-flex align-items-center gradient-custom-3 mt-4">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 50px; background-color: rgb(157, 113, 199, 0.2);">
            <div class="card-body">
              <h2 class="text-uppercase text-center mb-5">Create Account</h2>
              {% for message in messages %}
              <div class="alert alert-danger">
                  <a class="close" href="#" data-dismiss="alert">×</a>
                     {{ message }}
              </div>
                {% endfor %}
              <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-primary btn-block btn-sm gradient-custom-4 text-body" value="Sign up"></div>

                <p class="text-center text-muted mt-2 mb-0">Have an account? <a href="/accounts/login" class="fw-bold text-body"><u>Sign in here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}